.palette__color-picker {
  margin-top: 15px;
  /* height: 50%; */
}

.chrome-picker {
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
}

.chrome-picker svg {
  display: none;
}
