.sidebar__add-button {
  width: 100px;
  height: 100px;
  border: 2px dashed gray;
  background-color: inherit;
  color: white;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
}

.sidebar__add-button:hover {
  border: 2px dashed white;
}


