.html-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 5px;
}

.html-layout__icon {
  width: 6rem;
  height: 6rem;
}

.html-layout__button {
  background-color: #007bff;
  border-radius: 0.25rem;
  width: 80%;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 1.5rem;
}

.html-layout__button:active {
  box-shadow: 0 0 3px #007bffed;
}

.html-layout__button:hover {
  background-color: #1983f3;
}

.html-layout__input {
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  outline: none;
  margin: 2px 0;
  font-size: 1.5rem;
}

.html-layout__input:focus {
  border-color: #a970ff;
}

.html-layout__label {
  font-size: 0.7rem;
  width: 80%;
  color: white;
}
