.sidebar {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1d;
  z-index: 150;
  width: 18rem;
  height: 100vh;
  transition: transform 0.3s ease-out, margin-right 0.4s ease-out;
  padding: 10px 5px;
  box-sizing: border-box;
}

.sidebar h5 {
  font-size: 1.5rem;
}

.sidebar__content {
  margin: 1.5rem 0rem 1.5rem 1rem;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.sidebar__input {
  font-size: 0.6rem;
}

.sidebar__withdraw {
  float: right;
  display: flex;
  justify-content: center;
  width: 1.5rem;
  height: fit-content;
  border: none;
  color: rgb(231, 214, 214);
  background-color: inherit;
}

.sidebar__withdraw i {
  font-size: 2rem;
}

.sidebar__withdraw:hover {
  cursor: pointer;
  background-color: #49494b;
}

.sidebar__withdraw:focus {
  outline: none;
}

.open {
  transform: translateX(0%);
  margin-right: 0px;
}

.closed {
  transform: translateX(-200%);
  margin-right: -200px;
}

