.svg-button {
  border: none;
  font-size: 0.4rem;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
  height: fit-content;
  background-color: inherit;
}

.svg-button:hover {
  cursor: pointer;
  background-color: #242429;
}

.svg-button:focus {
  outline: none;
}

.svg-icon {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}

.svg-button img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(229deg)
    brightness(104%) contrast(102%);
}
