.clipboard-popup {
  position: absolute;
  display: flex;
  align-content: center;
  right: 0;
  top: 10%;
  width: 9rem;
  height: 1.2rem;
  padding: 5px;
  text-align: center;
  animation: appear 0.4s ease-in-out;
}

.clipboard-popup__image {
  width: 1.1rem;
  height: 1.1rem;
}

.clipboard-popup__text {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

@keyframes appear {
  from {
    transform: translateX(120%);
  }

  to {
    transfrom: translateX(0);
  }
}
