.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  background-color: #ededee;
  border-bottom: 1px solid #e2e2e2;
  z-index: 100;
}

.header__input {
  background-color: #ededee;
  box-sizing: border-box;
  border: 1px solid #575454;
  border-radius: 3px;
  font-size: 0.5rem;
  padding: 0px;
  text-align: center;
  width: 18px;
  margin: 2px 0px;
}

.header p {
  font-size: 0.6rem;
  vertical-align: middle;
  align-self: center;
  margin: 0px 3px;
}
