.banner {
  box-sizing: content-box;
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.banner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  height: 100%;
}

.banner-animation {
  animation: banner-appear 0.7s ease-in-out;
  animation-delay: 0.1s;
}

@keyframes banner-appear {
  0% {
    opacity: 0;
  }

  10% {
    transform: scale(0.3);
  }

  15% {
    opacity: 1;
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: rotateZ(5deg);
  }

  80% {
    transform: rotateZ(-5deg);
  }

  100% {
    transform: scale(1);
  }
}
